@import "../../styles/variables";

.logo {
  display: flex;
  align-items: center;
  &__link {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    @media (max-width: map-get($breakpoints, sm)) {
      margin-right: 0;
    }
    img {
      margin-right: 0.625rem;
    }
    h2 {
      @media (max-width: map-get($breakpoints, sm)) {
        display: none;
      }
    }
  }
}
